body {
  background-color:black;
}

.sum {
  position: relative;
  background-color: #fffffffa;
  color: #1D2433;
  width: 1920px;
  height: 1080px;
  margin: auto;
}

,header {
  position: relative;
  color: #F2F2F2;
}

.header > img {
  display: inline-block;
  margin: 49px 0px 0px 49px;
}

.header > nav {
  position: absolute;
  top: 55px;
  display: inline-block;
  margin-left: 170px;
}

.header > nav > ul {
  list-style-type: none;
}

.header > nav > ul > li {
  opacity: 60%;
  display: inline;
  font-size: 13px;
  line height: 15.23px;
  letter-spacing: 1.86px;
  padding-right: 74px;
}

.header > nav > ul > li:hover{
  opacity: 100%;
}

.box-left {
  display: inline-block;
  margin: 80px 0px 0px 150px;
}

.left-top > h1 {
  font-size: 107px;
  line-height: 122px;
  letter-spacing: -3.5px;
  margin-bottom: 30px;
}

.left-top > p {
  opacity: 50%;
  font-size: 18px;
  line-height: 32px;
}

.left-top > button {
  background-color: #1574F6;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 25.78px;
  padding: 22px 82px 22px 83px;
  margin-top: 48px;
  border-radius: 36px;
  border: 0px;
}

.left-bottom {
  margin: 150px 0px 0px 0px;
}

.left-bottom > img {
  display: inline-block;
}

.left-bottom > div {
  display: inline-block;
  margin-left: 24px;
}

.left-bottom > div > p {
  opacity: 50%;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.left-bottom > div > h3 {
  font-size: 13px;
  line-height: 15.23px;
  letter-spacing: 1.86px;
}

.box-right {
  display: inline-block;
  background-color: #54499E;
  width: 607px;
  height: 100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  position:absolute;
  right: 0px;
  top: 0px;
}

.box-right > button {
  background-color: #7364D9;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 25.78px;
  position: absolute;
  right: 48px;
  top: 55px;
  padding: 18px 54px 18px 55px;
  border-radius: 36px;
  border: 0px;
}

.box-between {
  background-color: #FFFFFF;
  width: 890px;
  height: 684px;
  border-radius: 8px;
  position: absolute;
  top: 215px;
  left: 885px;
}

.line {
  opacity: 16.89%;
  background-color: #8F8F92;
  width: 892px;
  height: 1px;
}

.between-top > p {
  opacity: 40%;
  display: inline-block;
  margin: 24px 700px 23px 43px;
}

.between-top > img {
  display: inline-block;
}

.between-bottom > ul {
  list-style-type: none;
  margin-top: 105px;
}

.between-bottom > ul >li {
  font-size: 12px;
  line-height: 14.05px;
  padding-bottom: 53.64px;
}

/* .line-2 {
  background-color: #22175B;
  width: 1px;
  height: 450px;
} */

.designer-4 {
  background-image: url(./images/designer4.png);
  height: 75.68px;
  width: 75.68px;
  position: relative;
  left: 1806px;
  bottom: 298.28px;
}

.designer-3 {
  background-image: url(./images/designer3.png);
  height: 96px;
  width: 82.4px;
  position: relative;
  left: 725px;
  bottom: 560px;
}

.designer-2 {
  background-image: url(./images/designer2.png);
  height: 60px;
  width: 60px;
  position: relative;
  left: 1164px;
  bottom: 250px;
}

.designer-1 {
  background-image: url(./images/designer1.png);
  height: 112px;
  width: 112px;
  position: relative;
  left: 1226px;
  bottom: 940px;
  
}
